body {
  text-align: center;
  margin: 0px;
}

h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 0px;
  background-color: rgb(244, 79, 79);
  font-size: 20px;
}

h2::before {
  text-align: center;
  margin: 0px;
  content: "●";
  color: rgb(239, 111, 139);
  font-size: 25;
}

h2 {
  border-bottom: dotted 3px rgb(236, 122, 122);
}

p:nth-of-type(2)::first-letter {
  color: rgb(97, 206, 249);
  font-weight: bold;
  font-size: 20px;
}

p {
  text-align: center;
  margin: 0px;
  content: "●";
  color: rgb(239, 111, 139);
  font-size: 20px;
}

div {
  border: solid 3px rgb(238, 204, 204);
  flex-basis: 25%;
  text-align: center;
}

footer a:visited {
  text-align: center;
  background-color: rgb(244, 79, 79);
}

footer a:hover {
  text-align: center;
  background-color: rgb(244, 79, 79);
}

a {
  color: rgb(255, 255, 255);
}

#parent {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5px;
}

#contents {
  padding: 5px;
}
